# Ignore environment files
.env

# Ignore virtual environments
venv/
spark_env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore MacOS system files
.DS_Store
.venv/

#Ignore test files
webscrape.ipynb 
cleaning.ipynb
analysis.ipynb
propertypro_sale_listings.csv
propertypro_rent_listings.csv
property24_kenya_listings.csv