# Ignore environment files
.env

# Ignore virtual environments
venv/
spark_env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore MacOS system files
.DS_Store
.venv/

#Ignore test files
webscrape.ipynb 
cleaning.ipynb
analysis.ipynb
Nigeria_sale.csv
Nigeria_rent.csv
Kenya_rent.csv
Kenya_sale.csv
DrCongo_rent.csv
DrCongo_sale.csv
Egypt_rent.csv
Egypt_sale.csv
SouthAfrica_rent.csv
SouthAfrica_sale.csv

